<emp-count [all]="getTotalEmpCount()"
 [male]="getTotalMaleEmpCount()" 
 [female]="getTotalFemaleEmpCount()"
  (countRadioButtonSelectionChanged)="onEmployeeCountRadioButtonChanged($event)">
</emp-count><br><br>
<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Gender</th>
      <th>DOB</th>
      <th>Salary</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let employee of employees">
      <tr *ngIf="selectedEmployeeCountRadioButton == 'all' || selectedEmployeeCountRadioButton == employee.gender">
        <td>{{employee.code | uppercase}}</td>
        <td>{{employee.name | employeeTitle: employee.gender}}</td>
        <td>{{employee.gender}}</td>
        <td>{{employee.dob | date: 'longDate' | uppercase}}</td>
        <td>{{employee.salary | currency: 'INR': 'symbol': '1.2-2'}}</td>
      </tr>
    </ng-container>
    <tr *ngIf="!employees || employees.length == 0">
      <td colspan="4">No employees to display.</td>
    </tr>
  </tbody>
</table>
<br>
